<!doctype html>
<html class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="./static/bootstrap.min.css">
  <link rel="stylesheet" href="./static/jquery-confirm.min.css">
  <style>
    .solution {
      font-family: '黑体';
      background-color: white;
      font-size: 17px;
      line-height: 17px;
    }
  </style>
  <script src="./static/jquery-3.4.1.slim.min.js"></script>
  <script src="./static/popper.min.js"></script>
  <script src="./static/bootstrap.min.js"></script>
  <script src="./static/jquery-confirm.min.js"></script>
  <script src="./static/vue.min.js"></script>
  <script src="./static/cutting-stock.js"></script>
  <script src="./static/utils.js"></script>
  <title>材料切割</title>
</head>
<body class="h-100" style="padding: 10px 0px;">
  <div id="app" class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-3 h-100 d-flex flex-column">
        <div class="form-group was-validated">
          <label for="material">材料长度</label>
          <input type="number" class="form-control" required min="1" step="any" v-model.number="material">
        </div>
        <div class="form-group was-validated">
          <label for="losses">切割损耗</label>
          <input type="number" class="form-control" min="0" step="any" v-model.number="losses">
        </div>
        <div class="form-group was-validated">
          <label for="orders">订单</label>
          <div class="form-row">
            <div class="col-5">
              <input id="length" type="number" class="form-control" placeholder="尺寸" min="1" step="any" v-model.number="length" @keyup.enter="onAddOrder">
            </div>
            <div class="col-4">
              <input type="number" class="form-control" placeholder="数量" required min="1" v-model.number="count" @keyup.enter="onAddOrder">
            </div>
            <div class="col-3">
              <button class="btn btn-primary btn-block" @click="onAddOrder">添加</button>
            </div>
          </div>
        </div>
        <div class="form-group flex-grow-1 d-flex flex-column overflow-auto">
          <ul class="list-group" id="orders">
            <li class="list-group-item d-flex justify-content-between align-items-center" v-for="order in orders">
              {{ order.length }} &times; {{ order.count }}
              <button type="button" class="btn btn-danger" @click="onRemoveOrder(order.length)">删除</button>
            </li>
          </ul>
        </div>
        <button class="btn btn-primary btn-block" @click="onCompute">计算</button>
      </div>
      <div class="col h-100">
        <textarea class="form-control h-100 solution" readonly v-model="solution"></textarea>
      </div>
    </div>
  </div>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        material: 600,
        losses: 0.1,
        length: null,
        count: 1,
        orders: [],
        solution: ''
      },
      created() {
        this.addOrder(100, 20)
        this.addOrder(190, 20)
        this.addOrder(300, 20)
      },
      watch: {
        material: function(val) {
          if (typeof(val) !== 'number' || val <= 0) {
            this.material = null
          }
        },
        losses: function(val) {
          if (typeof(val) !== 'number' || val < 0) {
            this.losses = null
          }
          if (val === this.material) {
            error('切割损耗等于材料长度')
            this.losses = null
          }
          if (val > this.material) {
            error('切割损耗超出材料长度')
            this.losses = null
          }
        },
        length: function(val) {
          if (typeof(val) !== 'number' || val <= 0) {
            this.length = null
          }
          if (val > this.material) {
            error('尺寸超出材料长度')
            this.length = null
          }
        },
        count: function(val) {
          if (typeof(val) !== 'number' || val <= 0) {
            this.count = null
          }
        }
      },
      methods: {
        addOrder(length, count) {
          if (typeof(length) !== 'number' || length <= 0
            || typeof(count) !== 'number' || count < 1
            || typeof(this.material) !== 'number' || length > this.material) {
            return
          }

          list = this.orders.filter(o => o.length === length)
          if (list.length > 0) {
            list[0].count += count
          } else {
            this.orders.push({ length: length, count: count })
          }
          this.orders.sort((x, y) => x.length - y.length)
        },
        removeOrder(length) {
          this.orders = this.orders.filter(order => order.length != length)
        },
        onAddOrder() {
          this.addOrder(this.length, this.count)
          this.length = null
          this.count = 1
          $('#length').focus()
        },
        onRemoveOrder(length) {
          this.removeOrder(length)
        },
        onCompute() {
          if (typeof(this.material) !== 'number' || this.material <= 0
            || this.losses < 0
            || this.material < this.losses) {
            return
          }
          this.solution = cut_and_print(this.material, this.losses || 0, this.orders)
        }
      }
    })

    function error(s) {
      $.confirm({
        title: "错误",
        content: s,
        type: "red",
        draggable: false,
        buttons: {
          close: {
            text: "知道了",
            action: function () { }
          }
        }
      });
    }
  </script>
</body>
</html>